/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"); */

* {
    overflow: hidden;
}

body, input {
    font-family: 'Poppins', sans-serif;
}

.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.register-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.login-container:before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    /* background: linear-gradient(-45deg, #cc33ee, #cc3399); */
    top: -10%;
    right: 40%;
    transform: translateY(-50%);
    z-index: 6;
}

.register-container:before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: -10%;
    left: 40%;
    transform: translateY(-50%);
    z-index: 6;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
    font-weight: 600;
}

.input-field {
    max-width: 300px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    border: none;
    outline: none;
    height: 55px;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field textarea {
    padding-top: 1.1rem;
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    height: 12rem;
}

.input-field input::placeholder, textarea::placeholder {
    color: #aaa;
    font-weight: 500;
}

.login-button {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    color: #fff;
    background-color: #cc66ee;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}

.login-button:hover {
    background-color: #cc33ff;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 5;
}

.register-form {
    position: absolute;
    transform: translate(-15%, 50%);
    width: 50%;
    z-index: 5;
}

.login-image {
    width: 100%;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.panels .content {
    color: #fff;
}

.panels h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panels p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.login-button.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    outline: none;
    width: 130px;
    height: 41px;
    font-weight: 800;
    font-size: 0.8rem;
}
